:root{
    --color1: #2E948A; 
    --color2: #e5e5e5;
    --color3: #c4c4c4;
    --color4: #f6f6f6;
    --colorfont: #FF4081;
    
    --mainfont: 'ubuntu'

}

body{
    padding: 0;
    margin: 0;
    font-family:var(--mainfont)
}
/* HEADER */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color1) ;
    padding: 20px 103px 26px 82px ;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header > .nav{
    display: flex;
    list-style: none;
}

.header > .nav > li {
    padding: 8px 10px;
    font-style: normal;
    font-weight: 700;
    font: 20px;
    line-height: 23px;

    text-transform: uppercase;

    color: var(--color2);
}

a:link {
    text-decoration: none;
    color: var(--color2);
}



@media screen  and (max-width: 660px ){
    .header{
        padding: 20px 36px 26px 50px;
    }
    .logoo{
        width: 150px;
        height: 50px;
    }
    .principal{
        flex-direction: column;
        
    }
    .principal h1{
        font-size: 30px;
    }
    .vem_comigo p{
        font-size: 10px;
        padding: 0px;
        margin: 0px;
        width: 100px;
    }
    .globoesporte{
        width: 250px;
        height: 250px;
        padding-top: 30px;
    }
    .vem_comigo{
        margin: 0px;
        padding: 0px;
        
    }
    .principal p{
        height: 50px;
    }
    .secundario{
        flex-direction: column;
    }
    .mais_conteudo{
        flex-direction: column;
        align-items: center;
    }
    footer{
        flex-direction: column;
        margin: 0px;
       
    }
    .lastimage{
        width: 100px;
        height: 50px;
        margin: 0px;
    }
    .mais_conteudo li{ 
        padding: 0px;        
    }
    footer imag .lastimage{
        margin: 0px
    }

}


@media screen  and (max-width: 560px ){
    .header{
        padding: 20px;
        flex-direction:column ;
    }

    .header > .nav {
        flex-direction: column;
    }

    .header > .nav > li{
        padding: 5px 0px;
    }
    .principal h1{
        color: #c4c4c4;
    }


}


/*CODIGOS DO MAIN */



.principal{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start ;
    margin: 100px;
   
}
.vem_comigo p{
    margin-left: 0;

}
.secundario{
    display: flex;
    list-style: none;  
    background-color: var(--color2);
    justify-content: center;
    margin: 0px;
}
.investimento{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.poupando{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.independencia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depo{
    display: flex;
    justify-content: center;
    padding: 100px;

}

p{
   width: 278px;
   margin: 0px ;
   text-align: center;
   margin-bottom: 20px;
}
.secundario li{
   margin: 50px;
}
.secundario li h3{
   color: var(--colorfont);
   font-size: 25px;
}

.secundario li button{
   background-color: var(--colorfont);
   border: none;
   color: var(--color2);
   width: 177px; 
   height: 40px;
   border-radius: 25px;
}


a{
    color: var(--color2);
   

}
main h1{
    color: var(--colorfont);
    font-size: 69px;
    margin: 0px ;
        
}
main section button{
    border-radius: 25px;
    padding: 7px 25px ;
    color: var(--colorfont);
    border-color: #FF4081;
    font-weight: bolder;
    background-color: var(--color2);
    
}


/* AQUI COMEÇA OS CÓDIGOS DO rR */
footer{
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    
}

footer li{
    list-style: none;
}

footer button{
    border-radius: 25px;
    color: #ffff;
    margin: 5px;
    padding: 7px 25px;
    background: var(--mainfont);
    border-color: #ffffff;
  
}

/* Mais conteúdo pra você */

.mais_conteudo{
    list-style: none;
    display: flex;
    padding: 45px;
    padding-left: 0px;
    justify-content: center;
    color: black;
    

    
}

.final{
    color: var(--color1);
    padding: 100px; 
}

.mais_conteudo h4{
    color: var(--color1);
    font-size: 25px;
    margin: 0;
    
}

.mais_conteudo h2{
    color: var(--color1);   
}

.img2{
    padding-left: 150px;
}

.img3{
    padding-left: 150px;
}

.ultimobotao{
    display: flex;
    justify-content: center;
}

.ultimobotao button{
    color: var(--colorfont);
    background-color: var(--color2);
    border-radius: 25px;
    border-color: var(--colorfont);
    width: 200px; 
    height: 40px;
    font-weight: 600;}

.ultimobotao button:hover {
    cursor: pointer;

}


.buttoon{
    display: flex;
    flex-direction: column;

}
.tentativa{
    display: flex;
    justify-content: center;
    background-color: var(--color2);
}

    /* Estilo dos contatos */


.conteudocompleto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: var(--colorfont);
    font-size: 56px;
    padding: 200px;

}

.contatos{  
    display: flex;
    flex-direction: column;
    font-weight: 600;
    
}

.nome{
    width: 400px;
}
.email{
    width: 400px;
}
.mensagem{
    width: 400px;
    height: 100px;

}
.botaodeenvio{ 
    width: 120px;
    height: 30px;
    background-color: var(--colorfont) ;
    border: none;
    border-radius: 15px;
    color: var(--color2);
    margin: 10px;
    
}
.mensagem::placeholder {
    position: absolute;
    top: 1; 
    left: 1;
}

input{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
form{
    padding-bottom: 50px;
}

.lastimage{
    margin-left: 300px;
}
.imagensdope li{
    margin: 10px;
    font-weight: 600;
}

.mainblog{
    display: flex;
    justify-content: center;
    align-items: flex-start;   
    margin: 50px;
}
.mcp{
    margin: 50px;
}
.mcp h2{
    font-size:47px ;
    color: var(--color1);
    font-weight: 700;

}
.mcp p{
    margin-left: -10px;
    font-size: 20px;
    padding: 10px;
    width: 461px;
    height: 387px;
    text-align: left;
    font-weight: 300;

}
.div1{
    display: flex;
    justify-content: center;
    
}
.div2{
    display: flex;
    justify-content: center;
}
.div3{
    display: flex;
    justify-content: center;
}
section h3{
    font-size: 30px ;
    color: var(--colorfont);
    font-weight: 500;

}
section p{
    font-size: 17px ;
    width: 516px ;
    height: 80px;
    font-weight: 300;
    text-align: left;

}


.div1 div{
    padding: 30px;
}

.div2 div{
    padding: 30px;
}
.div3 div{
    padding: 30px;
}
.chess{
    display: flex;
    justify-content: center;
    padding: 100px;
    
}
.chess h2{
    font-size: 35px ;
    font-weight: 700;
    width: 512px;
    height: 40px;
    color: var(--colorfont);
}

.chess p{
    font-size: 18px ;
    font-weight: 300;
    text-align: left;
    width: 742px;
    height: 105px;

}

.chess button{
    background-color: var(--color1);
    width: 233px;
    height: 51px;
    border-radius: 62px;
    border: none;
    color: #ffffff;
    font-size: 20px;
}
.texto{
    margin: 30px;
}
.risqueta{
    width: 1244px;
    height: 3px;
    color: var(--color3);
    
}

.curso h2{
    width: 263px;
    height: 69px;
    font-weight: 700;
    font-size: 60px;
    margin: 0px;
    color: var(--colorfont);

}
.curso p{
    width: 317px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    margin: -10px;
}
.educ{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-right: 850px;

    
}

.imagensdocurso{
    display: flex;

}
.conteudoprincipalcurso h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--colorfont);
    padding-top: 150px;

}

.conteudoprincipalcurso img{
    padding: 50px;
}

.conteudoprincipalcurso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoprincipalcurso p{
    width: 1032px;
    height: 1061;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}

.conteudoprincipalcurso h4{
    width: 1032px;
    font-weight: 600;
    font-size: 28px;
    color: var(--color1);
}
.data{
    padding-bottom: 50px;
    color: gray;
}

.imagensdocurso button{
    width: 233px;
    height: 63px;
    border-radius: 62px;
    border-style: none;
    background-color: var(--colorfont);
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 100px;
}

.imagensdocurso h3{
    width: 344px;
    height: 35.71;
    font-weight: 700;
    font-size: 25px;
    color: var(--colorfont);

}

.imagensdocurso p{
    width: 293px;
    height: 74px;
    font-weight: 300;
    font-size: 17px;
}
.conheconossoscursos{
    color: var(--colorfont);
    font-weight: 500;
    font-size: 50px ;
}

.maisumcurso{
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: #ffffff;
}
.cabecalho{
    margin-right: 30px;
    
}
.cabecalho h1{
    font-size: 55px;
    font-weight: 700;
    width: 512px;
    height: 126;
}
.cabecalho p{
    font-size: 20px;
    font-weight: 300;
    width: 461px;
    height: 186;
    text-align: left;
    padding-top: 20px;
}
.videoaulas{
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: var(--color4);
}
.videoaulas iframe{
    padding-right: 90px;
  
}

#bodi{
    background-color: var(--color4);
}
.videoaulas p{
    width: 501px;
    height: 195px;
    font-weight: 300;
    font-size: 20px;
    text-align: left;   
}
.videoaulas h3{
    width: 512px;
    height: 40px;
    font-weight: 700;
    font-size: 35px;
    color: var(--colorfont);
    
}

